body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* space between - logo and nav separated by a lot */
    align-items: center;
    /* to override the default: stretch so it doesnt stretch out of proportion */

    padding: 16px 32px;
    background-color: #2c3e50;
    color: white;
}

.logo {
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}