body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* space between - logo and nav separated by a lot */
    align-items: center;
    /* to override the default: stretch so it doesnt stretch out of proportion */

    padding: 16px 32px;
    background-color: #2c3e50;
    color: white;
}

.logo {
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer; /*change cursor shapes to hand clicking to add interactivity */
    
}

.nav {
    display: none;
    flex-direction: column;
    background-color: #34495e;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 12px;
}

.nav.active {
    display: flex;
}