body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* space between - logo and nav separated by a lot */
    align-items: center;
    /* to override the default: stretch so it doesnt stretch out of proportion */

    padding: 16px 32px;
    background-color: #2c3e50;
    color: white;
}

.logo {
    margin: 0;
}


.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer; /*change cursor shapes to hand clicking to add interactivity */
    
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;

    background-color: #2c3e50;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px;

    /* start hidden */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

/* when active, slide in */

.side-nav.active {
    transform: translateX(0);
}

.side-nav a {
    color: white;
    text-decoration: none;
}
/* .page {
    transition: transform 0.3s ease;
}

.page.shift {
    transform: translateX(250px);
} */


